*{
    box-sizing: border-box;
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

<<<<<<< HEAD
#titulo{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: orange;
    padding: 10px;
    padding-left: 5px;
    color: white;
    justify-content: c;
}

#titulo>h1{
    font-size: 25pt;
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
}

#titulo>nav{
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    justify-content: right;
    align-items: center;
}

#titulo>nav>a{
    text-decoration: none;
    padding: 5px;
}

#headerLargo>a>i{
    display: flex;
    color: green;
    margin: auto;
    align-items: center;
}

=======
>>>>>>> bcc9707 (commitCaronteResponsiveV2)
i>p{
    margin: auto;
    color: white;
    font-size: 10pt;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

h2{
    color: blue;
    font-size: 20pt;
    padding-bottom: 5px;
}

#headerTopInfo{
    display: flex;
    background-color: white; 
    width: 70%;
    justify-content: left;
}

#headerTopInfo>a{
    text-decoration: none;
    color: black;
    /* padding: 10px 5px 10px 0px; */
    padding: 25px;
}

#headerTopInfo>a>i{
    color: black;
    padding-right: 5px;
}

#headerTopSociales{
    display: flex;
    width: 15%;
    justify-content: right;
}

#headerTopSociales>a{
    padding: 15px;
}

#headerTopSociales>a>i{
    color: black;
}

#headerLargo{
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
    flex-flow: row nowrap;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
}

#headerLargo>a{
    color: white;
    font-size: 14pt;
    display: flex;
    flex-flow: column wrap;
    padding: 60px;
    text-decoration: none;
    text-align: center;
}

<<<<<<< HEAD

#headerLargo>figure{
=======
#headerLargo>a>i{
    display: flex;
    color: green;
    margin: auto;
    align-items: center;
}

#headerLargo>#imagenCaronte>#Menu{
    color: white;
    justify-content: flex-end;
    margin-right: 0;
}

#headerLargo>#imagenCaronte{
>>>>>>> bcc9707 (commitCaronteResponsiveV2)
    display: flex;
    flex-flow: column wrap;
    padding: 15px 10px 10px 10px;
    justify-content: center;
    width: 15%;
}

<<<<<<< HEAD
#headerLargo>figure>img{
    width: 50%;
=======
#headerLargo>#imagenCaronte>img{
    width: 80%;
    min-width: 130px;
>>>>>>> bcc9707 (commitCaronteResponsiveV2)
    margin: auto;
    justify-content: center;
}

#headerLargo>#imagenCaronte>p{
    color: white;
    font-size: 16pt;
    text-align: center;
    font-weight: bolder;
}

main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    justify-content: space-between;
    gap: 10px;
}

main>article{
    display: flex;
    flex-flow: column wrap;
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px;
    width: 30%;
}

article>div>p{
    text-indent: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 35px;
}

article>img{
    max-width: 150px;
    margin: auto;
<<<<<<< HEAD
=======
}

@media (min-width: 0px) and (max-width: 599px){
    #headerTopInfo{
        display: none;
    }
    #headerTopSociales{
        width: 100%;
        border: 3px solid black;
        padding: 10px;
        gap: 5px;
    }
    #headerTopSociales>a{
        padding: 5px;
        border: 2px solid black;
        border-radius: 5px;
    }
    #headerLargo>#PortFolio{
        display: none;
    }
    #headerLargo{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 10px;
    }
    #headerLargo>#imagenCaronte{
        flex-shrink: 0;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        align-items: center;
        padding: 15px 10px 20px 10px;
    }
    #headerLargo>#imagenCaronte>p{
        font-size: 25pt;
    }
    #headerLargo>#imagenCaronte>img{
        width: 25%;
        min-width: 20px;
        margin: 0 5px 0 0;
    }
    #headerLargo>a:not(#imagenCaronte){
        width: 100%;
        border: 1px solid white;
        padding: 7px;
        text-align: left;
        font-size: 20pt;
    }
    #headerLargo>a>i:not(#Menu){
        display: none;
    }
    main>div{
        flex-flow: column nowrap;
    }
    main>div>article{
        width: 100%;
    }
    main{
        margin: 0;
    }
    main>div{
        width: 100%;
        gap: 4px;
    }
    main>div>article>div{
        width: 70%;
    }
    main>div>article{
        flex-flow: row nowrap;
    }
    main>div>article{
        width: 100%;    
    }
    main>div>article>div>p{
        line-height: 20px;   
    }
    main>div>article>img{
        width: 100px;
    }
    #titulo{
        flex-flow: column wrap;
    }
    #titulo>h1{
        width: 100%;
    }
    #titulo>nav{
        width: 100%;
        justify-content: left;
    }
}

@media (min-width: 600px) and (max-width: 999px){
    #headerTopInfo{
        width: 100%;
    }
    #headerTopSociales{
        width: 100%;
    }
    #headerLargo{
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        /* margin: auto; */
    }
    #headerLargo>#imagenCaronte{
        display: flex;
        flex-flow: row wrap;
        flex-shrink: 0;
        width: 100%;
        align-items: center;
    }
    #headerLargo>#imagenCaronte>p{
        width: 53%;
        font-size: 30pt;
    }
    #headerLargo>#imagenCaronte>img{
        width: 20%;
        margin: 0;
    }
    #headerLargo>a{
        flex-shrink: 0;
        width: 15%;
        padding: 40px;
    } 
    #headerLargo>#imagenCaronte>#Menu{
        display: none;
    }
    #headerLargo>a:hover>i{
        transition: 1s;
        color: red;
        transform: translateY(45px);
    }
    #headerLargo>a:hover>span{
        transition: 1s;
        color: blue;
        transform: translateY(-45px);
    
    }
    #headerLargo>a>i{
        transition: all 1s;
    }
    #headerLargo>a>span{
        transition: all 1s;
    }
    main>div>article{
        width: 45%;
    }
}

@media (min-width: 1000px){
    #headerLargo>a:hover>i{
        transition: 1s;
        color: red;
        transform: translateY(45px);
    }
    #headerLargo>a:hover>span{
        transition: 1s;
        color: blue;
        transform: translateY(-45px);
    
    }
    #headerLargo>a>i{
        transition: all 1s;
    }
    #headerLargo>#imagenCaronte>#Menu{
        display: none;
    }
    #headerLargo>a>span{
        transition: all 1s;
    }
>>>>>>> bcc9707 (commitCaronteResponsiveV2)
}