*{
    box-sizing: border-box;
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#headerLargo>a>i{
    display: flex;
    color: green;
    margin: auto;
    align-items: center;
}

i>p{
    margin: auto;
    color: white;
    font-size: 10pt;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

h2{
    color: blue;
    font-size: 20pt;
}

#headerTopInfo{
    display: flex;
    background-color: white; 
    width: 75%;
    justify-content: left;
}

#headerTopInfo>a{
    text-decoration: none;
    color: black;
    /* padding: 10px 5px 10px 0px; */
    padding: 25px;
}

#headerTopInfo>a>i{
    color: black;
    padding-right: 5px;
}

#headerTopSociales{
    display: flex;
    width: 25%;
    /* min-width: 300px; */
    justify-content: right;
    align-items: flex-end;
}

#headerTopSociales>a{
    padding: 15px;
}

#headerTopSociales>a>i{
    color: black;
}

#headerLargoMobile{
    width: 100%;
    display: none;
    background-color: black;
}

#headerLargoMobile>figure>p{
    color: white;
    font-size: 30pt;
}

#headerLargoMobile>a{
    width: 99%;
    margin: auto;
    color: white;
    font-size: 26pt;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px;
}

#headerLargo{
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
    flex-flow: row nowrap;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
}

/* ---------  Animaciones --------- */

#headerLargo>a:hover>i{
    transition: 1s;
    color: red;
    transform: translateY(45px);
}

#headerLargo>a:hover>span{
    transition: 1s;
    color: blue;
    transform: translateY(-45px);

}

#headerLargo>a>i{
    transition: all 1s;
}

#headerLargo>a>span{
    transition: all 1s;
}

/* --------------------------------- */

#headerLargo>a{
    width: 10%;
    color: white;
    font-size: 14pt;
    display: flex;
    flex-flow: column wrap;
    padding: 50px;
    text-decoration: none;
    text-align: center;
}

#headerLargo>figure{
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    justify-content: center;
    width: 15%;
}

#headerLargo>figure>img{
    width: 80%;
    min-width: 130px;
    margin: auto;
    justify-content: center;
}

#headerLargo>figure>p{
    color: white;
    font-size: 14pt;
    text-align: center;
}

#titulo{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: orange;
    padding: 10px;
    padding-left: 5px;
    color: white;
    margin-bottom: 5px;
}

#titulo>h1{
    font-size: 25pt;
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
}

#titulo>nav{
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    justify-content: right;
    align-items: center;
}

#titulo>nav>a{
    text-decoration: none;
    padding: 5px;
}

main{
    width: 100%;
}

main>div{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin: auto;
    justify-content: space-between;
}

main>div>article{
    display: flex;
    flex-flow: column wrap;
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px;
    width: 30%;
}

article>p{
    text-indent: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 35px;
}

article>img{
    max-width: 150px;
    margin: auto;
}

@media (min-width: 0px) and (max-width: 599px){
    #headerTopInfo{
        display: none;
    }
    #headerTopSociales{
        width: 100%;
        border: 3px solid black;
        padding: 10px;
        gap: 5px;
    }
    #headerTopSociales>a{
        padding: 5px;
        border: 2px solid black;
        border-radius: 5px;
    }
    #headerLargo{
        display: none;
    }
    #headerLargoMobile{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 10px;
    }
    #headerLargoMobile>figure{
        flex-shrink: 0;
       width: 100%;
       display: flex;
       flex-flow: row wrap;
       justify-content: center;
       align-items: center;
       margin: auto;
       padding: 10px;
    }
    #headerLargoMobile>figure>img{
        width: 100px;
     }
    main>div{
        flex-flow: column nowrap;
    }
    main>div>article{
        width: 100%;
    }
    main{
        margin: 0;
    }
    main>div{
        width: 100%;
        gap: 4px;
    }
    main>div>article{
        flex-flow: row nowrap;
    }
    main>div>article{
        width: 100%;    
    }
    main>div>article>p{
        line-height: 20px;    
    }
    main>div>article>img{
        width: 100px;
    }
    #titulo{
        flex-flow: column wrap;
    }
    #titulo>h1{
        width: 100%;
    }
    #titulo>nav{
        width: 100%;
        justify-content: left;
    }
}

@media (min-width: 600px) and (max-width: 999px){
    #headerTopInfo{
        width: 100%;
    }
    #headerTopSociales{
        width: 100%;
    }
    #headerLargo{
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    #headerLargo>figure{
        flex-shrink: 0;
        width: 100%;
    }
    #headerLargo>figure>img{
        width: 20%;
    }
    #headerLargo>a{
        flex-shrink: 0;
        width: 15%;
    } 
}

@media (min-width: 1000px){

}